// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
	margin: 1rem auto;
	overflow: auto;
	.phone-number {
		margin-bottom: 1.5rem;
	}
	.footer-cols {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 2rem;
		@include md-(phone) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include md-(medium-phone) {
			//grid-template-columns: 1fr;
		}
		ul {
			margin: 0
		}
		li {
			line-height: 1.9;
		}
	}
	a {
		color: #999;
		font-size: .9rem;
		@include on-event() {
			color: #fff;
		}
	}
}