// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.showcase {
  background: image("background.jpg") no-repeat center center/cover;
  position: relative;
  width: 100%; height: 93vh;
  &::after {
    background: rgba(0, 0, 0, .6);
    box-shadow: inset 120px 100px 250px #000,
                inset -120px -100px 250px #000;
    content:'';
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;

  }
  .showcase-top {
    height: 90px;
    padding-top: 1.5rem;
    position: relative;
    z-index: 2;
  }
  .showcase-logo {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width:167px; height:45px; 
  }
  .showcase-btn {
    position: absolute; top: 50%; right: 0;
    transform: translate(-50%, -50%);
  }
  .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9rem auto 0;
    position: relative;
    text-align: center;
    z-index: 2;
    .title-01 {
      color: $title-color;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.1;
      margin: 0 0 2rem;
    }
    .text-01 {
      color: #fff;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.25;
      margin: 0 0 2rem;  
    }
  }
}