/**
 * Tabs menu 
 */

#tab-1-content,
#tab-2-content {
  display: none;
}

.show {
  display: block !important;
}

.tabs {
	background-color: #141414;
	padding: 1rem 0 0;
	.container ul {
		display: grid;
		align-items: center;
		justify-content: center;
		grid-gap: 1rem;
		grid-template-columns: repeat(3, 1fr);
		text-align: center;
	}
	.tab-item {
		border-bottom: 3px solid #3d3d3d;
		color: #999;
		&:hover {
			color: #fff;
			cursor: pointer;
		}
	}
	.tab-active {
		border-bottom: 4px solid $brand-color;
	}
}
.tab-content {
	padding: 3rem 0;
	color: #fff;
}
/**
 * Tabs Content 1
 */
.tab-1-content-inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	align-items: center;
	justify-content: center;
	img {
		width: 100%; height: auto;
		@include md-(tab) {
			display: block;
			margin: 0 auto;
			width: 70%;
		}
	}
	@include md-(tab) {
		grid-template-columns: 1fr;
		text-align: center;
	}
}
/**
 * Tabs Content 2
 */
.tab-2-content-top {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 1rem;
	justify-content: center;
	align-items: center;
	@include md-(tab) {
		display: block;
		text-align: center;
	}
}
.tab-2-content-bottom {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	text-align: center;
	@include md-(tab) {
		grid-template-columns: 1fr;
	}
	p {
		margin: 0;
	}
	img {
		width: 100%; height: auto;
		@include md-(tab) {
			width: 70%; height: auto;
		}
	}
}
/**
 * Tables
 */
.table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 2rem;
	width: 100%;
	.fa-times {color: $brand-color;}
	.fa-check {color: green;}

	.tin-pricing-table-row:nth-child(4n+1):not(:first-child) {
		background-color: #222;
	}
	.tin-pricing-th:not(:first-child) {
		font-size: 1rem;
		padding: 0.5rem;
		text-transform: uppercase;
		width: calc(50% / 3);
	}
	// .tin-pricing-th{
	// 	@include md-(phone) {
	// 		&:first-child {
	// 			display: none;
	// 		}
	// 	}
	// }
	.tin-pricing-table-data {
		color: #999;
		padding: .8rem 1.2rem;
		&:not(:first-child) {
			text-align: center;
		}
		@include md-(phone) {
			&:first-child {
				display: none;
			}
		}
	}
	.alt-header {
		display: none;
		.tin-pricing-th {
			color: #999;
			font-size: .8rem;
			font-weight: 400;
			padding: 10px 0;
		}
		@include md-(phone) {
			display: table-row;
		}
	}
	
}